* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 40px;
 background: linear-gradient(135deg, #0F172A, #DC2626);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90vh;
  width: 100%;
  max-width: 1100px;
 background-color: white;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}


.left {
  width: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 100%;
}


.right {
  width: 50%;
  padding: 60px;
  background-color: transparent;
}

.right h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="email"],
input[type="password"] {
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.forgot {
  font-size: 14px;
  color: #e63946;
  text-decoration: none;
}


.btn-login {
  background: #e63946;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-google {
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.btn-google img {
  width: 20px;
}


.signup {
  margin-top: 25px;
  font-size: 14px;
}

.signup a {
  color: #e63946;
  text-decoration: none;
  font-weight: 500;
}



@media screen and (max-width: 884px) {
 
.container {
   
    height: auto;
  }
  .left img {
    height: 100%;
    width: 100%;
  }
  .right h1 {
    font-size: 28px;
  }

  form {
    gap: 15px;
  }

  input[type="email"],
  input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .btn-login,
  .btn-google {
    font-size: 15px;
    padding: 12px;
  }
}


@media screen and (max-width: 440px) {
  main {
    padding: 50px;
  }
  .left {
    display: none;
  }

  .container {
    border-radius: 10px;
        height: 100%;
        width: 100%;
  }

  .right {
    padding: 25px 10px;
    width: 100%;
  }

  .right h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 12px;
    margin-bottom: 15px;
  }

  label {
    font-size: 12px;
    margin-bottom: 4px;
  }

  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 6px;
  }

  

  .remember {
    font-size: 11px;
  }

  .forgot {
    font-size: 11px;
  }

  .btn-login {
    font-size: 13px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .btn-google {
    font-size: 12px;
    padding: 9px;
  }

  .btn-google img {
    width: 16px;
  }

  .signup {
    margin-top: 12px;
    font-size: 11px;
  }
}
